# Ignorar a pasta de dados extraídos
data/

# Ignorar a pasta que contém a chave secreta da API do Gemini
api/

# Ignorar o seu backup local da Versão 1
main.go_v1.txt

# Ignorar o cache local de modulos do Go configurado na pipeline
.go/

# Ignorar instaladores pesados do Windows
*.msi

# Ignorar caches e arquivos temporários do Go
.go-cache/
*.exe
*.test
